@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.box {
    position: relative;
}

.texto1 {
    position: absolute;
    top: 200px;
    left: 30%;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: aliceblue;
}

#menu a,
button {
    font-size: 18px !important;
    font-weight: 600;
}

.carousel-inner {
    max-height: 60rem;
}

#menu a {
    color: #3f3f3f;
}

.slide {
    margin-top: 10px;
}

.slide img {
    height: 65vh;
}

@media (max-width :768px) {
    #intro {
        width: 90% !important;
    }
}