:root{
    --bs-navbar-height: 13vh;
    --my-primary-color: 136, 10, 10;
}
.bton-nav {
    display:none;
    height:100%;
}
.bi-card-list {
    height: 80%;
}
body {
    height: 100vh;
}
.icon{
    height: 100%;
    min-height: fit-content;
}
.nav-principal {
    height: var(--bs-navbar-height);
    min-height: 60px;
}
.img-thumbnail {
    background-color: transparent;
    border: none;
    height: 100%;
}
.btn-primary {
    font-size:14px;
}
.btn-primary:hover {
    color: var(--bs-gray) !important;
}
.navCel{
    position:fixed;
    display: none;
    top: var(--bs-navbar-height);
    background-color: #6e3;
    width: 100%;
    height: calc(100vh - var(--bs-navbar-height));

}

@media screen and (max-width: 600px) {
    .icon{
        display:none;
    }
    .bton-nav {
        display:inline;
    }
}